<section class="Goals parent">
  <div class="Content">
    <div
      class="Goals__image-container"
      alt="Placeholder"
    >
      <picture>
        <source media="(max-width: 830px)" srcset="<%= image_path('home/goals.png') %>">
        <source media="(min-width: 831px)" srcset="<%= image_path('home/goals.png') %>, <%= image_path('home/goals@2x.png') %> 2x, <%= image_path('home/goals@3x.png') %> 3x">
        <img src="<%= image_path('home/goals.png') %>" alt="Family happy together">
      </picture>
    </div>
    <div class="Goals__copy">
      <h3>Let's make sure every child develops a healthy relationship with money</h3>
      <ul>
        <li class="Goals__list-item">
          <div class="Goals__list-item-header">Patience</div>
          <div class="Goals__list-item-body">
            Saves consistently, spends wisely and always asks
            before buying, "is this worth it; do I really need it?”
          </div>
        </li>
        <li class="Goals__list-item">
          <div class="Goals__list-item-header">Follow through.</div>
          <div class="Goals__list-item-body">
            Takes agreements seriously by always sticking to his or her end of the
            bargain and holding others accountable
          </div>
        </li>
        <li class="Goals__list-item">
          <div class="Goals__list-item-header">Planning</div>
          <div class="Goals__list-item-body">
            Budgets earning and spending while understanding the implications of debt 
            and the power of saving and investing          
          </div>
        </li>
      <ul>
    </div>
  </div>
</section>
