<section class="Hero parent">
  <div class="Content">
    <%=
      render(
        partial: 'home/tagline_container'
      )
    %>
    <div
      class="Hero__img-container"
    >
      <picture>
        <source media="(max-width: 830px)" srcset="<%= image_path('home/HERO-414.png') %>, <%= image_path('home/HERO-414@2x.png') %> 2x, <%= image_path('home/HERO-414@3x.png') %> 3x">
        <source media="(min-width: 831px)" srcset="<%= image_path('home/HERO-1440.png') %>, <%= image_path('home/HERO-1440@2x.png') %> 2x, <%= image_path('home/HERO-1440@3x.png') %> 3x">
        <img src="<%= image_path('home/HERO-1440.png') %>" alt="Family sitting on sofa">
      </picture>
    </div>
  </div>
</section>
