<div class="Content">
  <picture>
    <source media="(max-width: 830px)" srcset="<%= image_path('about/ABOUT_Photos_Large.png') %>">
    <source media="(min-width: 831px)" srcset="<%= image_path('about/ABOUT_Photos_Large.png') %>, <%= image_path('about/ABOUT_Photos_Large.png') %> 2x, <%= image_path('about/ABOUT_Photos_Large.png') %> 3x">
    <img src="<%= image_path('about/ABOUT_Photos_Large.png') %>" width="100%" alt="Dad with kids on the left, teenage girl on the right">
  </picture>
</div>
