<div class="About" style="display: flex; flex-direction: column; align-items: center;">
  <%= render partial: 'header' %>
  <%= render partial: 'image' %>
  <%= render partial: 'values' %>
  <%= render partial: 'shared/newsletter' %>
</div>

<%= javascript_include_tag 'home' %>
