<!DOCTYPE html>
<html>
  <head>
    <title>Till</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% if flash[:notice].present? || flash[:alert].present? %>
      <%= render partial: 'shared/flash_banner' %>
    <% end %>
    <%= render partial: 'header/index' %>

    <%= yield %>

    <%= render partial: 'footer/footer' %>
  </body>
</html>
