<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.configuration.google_analytics_id %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', '<%= Rails.configuration.google_analytics_id %>');
      </script>
    <% end %>

    <title>Till</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('till_favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,800" rel="stylesheet">
  
    <meta name="viewport"            content="width=device-width, initial-scale=1">
    <meta property="og:url"          content="https://tillfinancial.io" />
    <meta property="og:type"         content="website" />
    <meta property="og:site_name"    content="Till Financial" />
    <meta property="og:url"          content="http://www.tillfinancial.io" />
    <meta property="og:title"        content="Till: A better way to give your kids money"/>
    <meta property="og:description"  content="Till is a platform and suite of tools that helps families work better with money" />
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '167885590822992',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v3.2'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <% if flash[:notice].present? || flash[:alert].present? %>
      <%= render partial: 'shared/flash_banner' %>
    <% end %>
    <%= render partial: @header_template_path %>

    <%= yield %>

    <%= render partial: 'footer/footer' %>
  </body>
</html>
